body {
  margin-top: 100px;
  background-color: #ffdde1;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0;
  background: url("images/image.jpg") repeat;
  font-size: 35px;
  color: rgb(255, 0, 174);
  height: 100vh;
  position: fixed;
  width: 100%;
}
.hh {
  -webkit-text-stroke: 2px #71004f;
  font-weight: 900;
  font-size: 45px;
  margin: 10px 0;
}
.pp {
  -webkit-text-stroke: 2px #71004f;
  font-size: 30px;
  font-style: oblique;
  font-weight: 800;
  padding: 10px 30px;
}

body .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Mainprompt {
  padding-bottom: 100px;
}

.image {
  height: calc(100vh - 600px);
}

.us {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.us_image {
  height: calc(100vh - 650px);
}

.chips-btn {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 40px;
}

.cat_image {
  height: calc(100vh - 700px);
  transition: all 1s;
}

.us_image:first-child {
  margin-right: -48px;
}

.cats {
  display: none;
  width: 100vw;
  height: 100vh;
}

.buttons {
  height: 70px;
}

.buttons button {
  background-color: #ff4d79;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 26px;
  cursor: pointer;
  position: relative;
  font-family: serif; /* Change to a romantic cursive font */
}

.buttons button:hover {
  background-color: #7c1f37;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.hidden-message {
  display: none;
  margin-top: 20px;
}

.button {
  font-family: "Courier New", Courier, monospace;
}

@media (min-width: 576px) {
  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }

  .us {
    top: 20px;
  }
}

@media (min-width: 1200px) {
  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}
